In [1]:
# Import dependencies
import pandas as pd
import numpy as np
# Set the column width
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [3]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel("../Resources/crowdfunding.xlsx")
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

In [5]:
# Convert "goal" and "pledged" to Float
crowdfunding_info_df["goal"] = crowdfunding_info_df["goal"].astype(float)
crowdfunding_info_df["pledged"] = crowdfunding_info_df["pledged"].astype(float)
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   float64
 5   pledged                  1000 non-null   float64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), float64(2), int64(5), object(6)
memory usage: 103.6+ KB

In [6]:
# Convert "launched_at" to "launch_date" and "deadline" to end_date" <-- Convert both to DateTime
crowdfunding_info_df["launched_at"] = pd.to_datetime(crowdfunding_info_df.launched_at*1e9)
crowdfunding_info_df["deadline"] = pd.to_datetime(crowdfunding_info_df.deadline*1e9)
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   float64
 5   pledged                  1000 non-null   float64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   datetime64[ns]
 11  deadline                 1000 non-null   datetime64[ns]
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), datetime64[ns](2), float64(2), int64(3), object(6)
memory usage: 103.6+ KB

In [7]:
# Break up category and sub_category
split_columns = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)
crowdfunding_info_df['category'] = split_columns[0]
crowdfunding_info_df['subcategory'] = split_columns[1] if split_columns.shape[1] > 1 else None

#Drop old column
crowdfunding_info_df.drop(columns=["category & sub-category"], inplace=True)

crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,False,False,theater,plays

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
* A "category_id" column that has entries going sequentially from "cat1" to "cat*n*", where *n* is the number of unique categories
* A "category" column that contains only the category titles

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
* A "subcategory_id" column that has entries going sequentially from "subcat1" to "subcat*n*", where *n* is the number of unique subcategories
* A "subcategory" column that contains only the subcategory titles

Export the DataFrame as a `subcategory.csv` CSV file.

In [9]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cf_id          1000 non-null   int64
 1   contact_id     1000 non-null   int64
 2   company_name   1000 non-null   object
 3   blurb          1000 non-null   object
 4   goal           1000 non-null   float64
 5   pledged        1000 non-null   float64
 6   outcome        1000 non-null   object
 7   backers_count  1000 non-null   int64
 8   country        1000 non-null   object
 9   currency       1000 non-null   object
 10  launched_at    1000 non-null   datetime64[ns]
 11  deadline       1000 non-null   datetime64[ns]
 12  staff_pick     1000 non-null   bool
 13  spotlight      1000 non-null   bool
 14  category       1000 non-null   object
 15  subcategory    1000 non-null   object
dtypes: bool(2), datetime64[ns](2), float64(2), int64(3), object(7)
memory usage: 111.5+ KB

In [10]:
# Assign the category and subcategory values to category and subcategory columns.
categories = crowdfunding_info_df["category"].copy()
subcategories = crowdfunding_info_df["subcategory"].copy()

In [59]:
# Get the unique categories and subcategories in separate lists.
categories.unique()
categories_lists = list(map(lambda x: categories[x], range(len(categories))))
print(categories_lists)

#subcategories.unique()
#subcategories_lists = list(map(lambda x: x**2, range(25)))


#print(subcategories_lists)

['food', 'music', 'technology', 'music', 'theater', 'theater', 'film & video', 'theater', 'theater', 'music', 'film & video', 'theater', 'film & video', 'music', 'music', 'technology', 'publishing', 'film & video', 'theater', 'theater', 'film & video', 'theater', 'theater', 'film & video', 'technology', 'games', 'theater', 'music', 'theater', 'film & video', 'film & video', 'games', 'film & video', 'theater', 'film & video', 'film & video', 'theater', 'publishing', 'photography', 'theater', 'technology', 'music', 'food', 'publishing', 'publishing', 'theater', 'music', 'theater', 'theater', 'music', 'music', 'technology', 'theater', 'film & video', 'technology', 'music', 'technology', 'games', 'theater', 'theater', 'theater', 'theater', 'technology', 'theater', 'technology', 'theater', 'theater', 'technology', 'theater', 'theater', 'theater', 'theater', 'film & video', 'music', 'music', 'photography', 'theater', 'film & video', 'publishing', 'theater', 'games', 'music', 'games', 'music', 'technology', 'music', 'theater', 'music', 'publishing', 'theater', 'theater', 'publishing', 'games', 'theater', 'technology', 'film & video', 'theater', 'food', 'games', 'theater', 'theater', 'music', 'technology', 'music', 'music', 'technology', 'theater', 'theater', 'film & video', 'film & video', 'food', 'publishing', 'technology', 'food', 'technology', 'publishing', 'theater', 'film & video', 'photography', 'film & video', 'games', 'games', 'publishing', 'theater', 'photography', 'theater', 'theater', 'theater', 'music', 'food', 'film & video', 'technology', 'theater', 'music', 'film & video', 'theater', 'film & video', 'publishing', 'games', 'technology', 'film & video', 'technology', 'technology', 'music', 'theater', 'technology', 'theater', 'theater', 'technology', 'music', 'music', 'music', 'music', 'theater', 'music', 'theater', 'music', 'photography', 'music', 'theater', 'technology', 'technology', 'music', 'photography', 'theater', 'technology', 'photography', 'theater', 'music', 'film & video', 'music', 'publishing', 'film & video', 'theater', 'technology', 'theater', 'theater', 'theater', 'food', 'theater', 'technology', 'technology', 'theater', 'music', 'theater', 'film & video', 'theater', 'film & video', 'theater', 'theater', 'theater', 'theater', 'music', 'music', 'music', 'music', 'technology', 'film & video', 'music', 'music', 'theater', 'technology', 'food', 'theater', 'music', 'theater', 'publishing', 'music', 'film & video', 'film & video', 'film & video', 'theater', 'theater', 'music', 'music', 'theater', 'theater', 'film & video', 'film & video', 'film & video', 'theater', 'food', 'photography', 'theater', 'film & video', 'music', 'photography', 'games', 'film & video', 'games', 'games', 'theater', 'theater', 'film & video', 'games', 'film & video', 'music', 'film & video', 'theater', 'technology', 'theater', 'publishing', 'music', 'theater', 'theater', 'theater', 'technology', 'publishing', 'games', 'publishing', 'music', 'theater', 'theater', 'film & video', 'publishing', 'music', 'music', 'theater', 'theater', 'photography', 'music', 'music', 'music', 'photography', 'theater', 'theater', 'music', 'theater', 'film & video', 'film & video', 'games', 'photography', 'theater', 'theater', 'theater', 'publishing', 'games', 'theater', 'technology', 'theater', 'film & video', 'theater', 'film & video', 'music', 'technology', 'theater', 'theater', 'music', 'music', 'theater', 'film & video', 'technology', 'food', 'theater', 'theater', 'theater', 'theater', 'theater', 'music', 'food', 'publishing', 'film & video', 'theater', 'music', 'film & video', 'theater', 'theater', 'publishing', 'theater', 'music', 'games', 'theater', 'theater', 'music', 'film & video', 'theater', 'food', 'theater', 'music', 'technology', 'publishing', 'film & video', 'theater', 'film & video', 'theater', 'theater', 'film & video', 'theater', 'music', 'games', 'film & video', 'food', 'technology', 'theater', 'music', 'music', 'music', 'theater', 'theater', 'theater', 'photography', 'music', 'theater', 'theater', 'games', 'film & video', 'music', 'technology', 'food', 'theater', 'music', 'music', 'theater', 'theater', 'film & video', 'technology', 'theater', 'games', 'photography', 'film & video', 'theater', 'theater', 'music', 'music', 'music', 'theater', 'theater', 'theater', 'film & video', 'film & video', 'theater', 'theater', 'film & video', 'theater', 'film & video', 'music', 'music', 'theater', 'film & video', 'theater', 'theater', 'theater', 'photography', 'food', 'film & video', 'publishing', 'theater', 'technology', 'music', 'theater', 'photography', 'publishing', 'technology', 'music', 'film & video', 'theater', 'film & video', 'music', 'film & video', 'music', 'photography', 'theater', 'film & video', 'theater', 'theater', 'theater', 'film & video', 'theater', 'film & video', 'music', 'games', 'theater', 'publishing', 'film & video', 'food', 'theater', 'film & video', 'theater', 'film & video', 'technology', 'theater', 'technology', 'theater', 'food', 'music', 'photography', 'theater', 'theater', 'film & video', 'photography', 'theater', 'theater', 'theater', 'film & video', 'theater', 'theater', 'music', 'film & video', 'theater', 'film & video', 'film & video', 'technology', 'theater', 'theater', 'music', 'theater', 'technology', 'film & video', 'games', 'games', 'film & video', 'music', 'film & video', 'film & video', 'film & video', 'theater', 'music', 'theater', 'theater', 'film & video', 'theater', 'film & video', 'games', 'film & video', 'theater', 'publishing', 'technology', 'technology', 'theater', 'film & video', 'technology', 'food', 'music', 'music', 'film & video', 'publishing', 'publishing', 'film & video', 'technology', 'food', 'photography', 'theater', 'publishing', 'theater', 'food', 'theater', 'publishing', 'theater', 'theater', 'technology', 'journalism', 'food', 'film & video', 'photography', 'technology', 'theater', 'film & video', 'technology', 'technology', 'film & video', 'theater', 'film & video', 'games', 'film & video', 'music', 'publishing', 'theater', 'technology', 'theater', 'theater', 'film & video', 'theater', 'games', 'film & video', 'music', 'theater', 'publishing', 'food', 'film & video', 'music', 'theater', 'film & video', 'film & video', 'film & video', 'theater', 'technology', 'theater', 'film & video', 'music', 'games', 'publishing', 'games', 'theater', 'music', 'film & video', 'theater', 'publishing', 'film & video', 'games', 'food', 'photography', 'games', 'music', 'games', 'music', 'theater', 'theater', 'film & video', 'theater', 'technology', 'music', 'technology', 'theater', 'music', 'music', 'music', 'publishing', 'film & video', 'theater', 'theater', 'film & video', 'theater', 'music', 'film & video', 'theater', 'theater', 'music', 'music', 'theater', 'film & video', 'music', 'film & video', 'music', 'journalism', 'food', 'theater', 'theater', 'music', 'film & video', 'music', 'theater', 'technology', 'games', 'film & video', 'technology', 'publishing', 'music', 'food', 'theater', 'film & video', 'publishing', 'games', 'theater', 'film & video', 'theater', 'theater', 'film & video', 'theater', 'music', 'film & video', 'food', 'technology', 'theater', 'theater', 'theater', 'publishing', 'music', 'food', 'music', 'film & video', 'theater', 'theater', 'music', 'theater', 'theater', 'theater', 'music', 'theater', 'publishing', 'theater', 'photography', 'theater', 'music', 'theater', 'photography', 'theater', 'theater', 'food', 'music', 'theater', 'theater', 'theater', 'theater', 'film & video', 'film & video', 'film & video', 'film & video', 'theater', 'theater', 'film & video', 'theater', 'theater', 'technology', 'theater', 'theater', 'music', 'games', 'publishing', 'food', 'theater', 'music', 'film & video', 'technology', 'technology', 'music', 'photography', 'food', 'film & video', 'music', 'film & video', 'theater', 'music', 'theater', 'theater', 'music', 'film & video', 'theater', 'journalism', 'theater', 'theater', 'music', 'theater', 'theater', 'music', 'photography', 'journalism', 'photography', 'publishing', 'film & video', 'food', 'games', 'theater', 'theater', 'theater', 'publishing', 'theater', 'technology', 'theater', 'film & video', 'technology', 'film & video', 'film & video', 'music', 'theater', 'theater', 'music', 'theater', 'music', 'technology', 'film & video', 'technology', 'theater', 'technology', 'publishing', 'film & video', 'publishing', 'technology', 'film & video', 'theater', 'theater', 'theater', 'theater', 'theater', 'publishing', 'music', 'games', 'theater', 'film & video', 'technology', 'publishing', 'theater', 'music', 'film & video', 'theater', 'theater', 'games', 'theater', 'technology', 'theater', 'film & video', 'technology', 'technology', 'music', 'music', 'theater', 'photography', 'publishing', 'music', 'theater', 'music', 'theater', 'theater', 'music', 'theater', 'theater', 'technology', 'technology', 'theater', 'film & video', 'technology', 'music', 'publishing', 'theater', 'photography', 'theater', 'theater', 'theater', 'film & video', 'music', 'music', 'games', 'music', 'music', 'theater', 'music', 'music', 'film & video', 'publishing', 'theater', 'games', 'theater', 'theater', 'music', 'theater', 'technology', 'music', 'theater', 'theater', 'film & video', 'theater', 'film & video', 'theater', 'film & video', 'music', 'technology', 'film & video', 'music', 'music', 'film & video', 'theater', 'theater', 'food', 'theater', 'publishing', 'music', 'film & video', 'games', 'technology', 'theater', 'theater', 'music', 'photography', 'photography', 'theater', 'music', 'film & video', 'film & video', 'theater', 'food', 'film & video', 'theater', 'games', 'publishing', 'games', 'music', 'music', 'theater', 'publishing', 'theater', 'games', 'music', 'film & video', 'music', 'music', 'publishing', 'film & video', 'theater', 'film & video', 'theater', 'theater', 'theater', 'photography', 'publishing', 'publishing', 'theater', 'technology', 'music', 'music', 'theater', 'film & video', 'theater', 'technology', 'technology', 'photography', 'film & video', 'technology', 'technology', 'food', 'film & video', 'music', 'music', 'music', 'games', 'music', 'publishing', 'theater', 'food', 'film & video', 'food', 'theater', 'technology', 'theater', 'theater', 'film & video', 'film & video', 'theater', 'photography', 'food', 'theater', 'film & video', 'theater', 'theater', 'film & video', 'photography', 'photography', 'music', 'photography', 'food', 'music', 'publishing', 'music', 'theater', 'theater', 'film & video', 'theater', 'theater', 'music', 'theater', 'theater', 'music', 'music', 'film & video', 'publishing', 'film & video', 'film & video', 'theater', 'food', 'theater', 'film & video', 'music', 'technology', 'music', 'technology', 'publishing', 'publishing', 'theater', 'film & video', 'theater', 'games', 'theater', 'theater', 'technology', 'film & video', 'film & video', 'theater', 'film & video', 'photography', 'film & video', 'publishing', 'theater', 'film & video', 'technology', 'music', 'theater', 'theater', 'theater', 'food', 'theater', 'technology', 'theater', 'theater', 'theater', 'music', 'theater', 'theater', 'theater', 'theater', 'film & video', 'publishing', 'games', 'technology', 'theater', 'theater', 'food', 'photography', 'photography', 'theater', 'theater', 'film & video', 'technology', 'theater', 'music', 'film & video', 'film & video', 'technology', 'theater', 'film & video', 'theater', 'film & video', 'publishing', 'technology', 'publishing', 'food', 'photography', 'theater', 'music', 'theater', 'music', 'food', 'theater', 'theater', 'film & video', 'technology', 'theater', 'music', 'theater', 'theater', 'food', 'games', 'theater', 'publishing', 'technology', 'film & video', 'film & video', 'theater', 'music', 'music', 'film & video', 'publishing', 'publishing', 'film & video', 'music', 'film & video', 'photography', 'publishing', 'food', 'theater', 'theater', 'music', 'food']

In [25]:
# Get the number of distinct values in the categories and subcategories lists.
category_counts = categories.value_counts()
subcategory_counts = subcategories.value_counts()


print(category_counts)
print(subcategory_counts)

category
theater         344
film & video    178
music           175
technology       96
publishing       67
games            48
food             46
photography      42
journalism        4
Name: count, dtype: int64
subcategory
plays                344
rock                  85
documentary           60
web                   51
food trucks           46
indie rock            45
wearables             45
photography books     42
drama                 37
video games           35
animation             34
nonfiction            21
translations          21
electric music        18
jazz                  17
fiction               17
television            17
shorts                16
science fiction       14
mobile games          13
radio & podcasts       8
metal                  7
audio                  4
world music            3
Name: count, dtype: int64

In [45]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

# Initialize empty dictionaries to store the unique mappings
category_mapping = {}
subcategory_mapping = {}

# For loop to assign categories to category IDs
for idx, category in zip(category_ids, categories):
    category_mapping[idx] = category


category_mapping

{1: 'food',
 2: 'music',
 3: 'technology',
 4: 'music',
 5: 'theater',
 6: 'theater',
 7: 'film & video',
 8: 'theater',
 9: 'theater'}

In [43]:
# For loop to assign subcategories to subcategory IDs
for idx, subcategory in zip(subcategory_ids, subcategories):
    subcategory_mapping[idx] = subcategory

subcategory_mapping

{1: 'food trucks',
 2: 'rock',
 3: 'web',
 4: 'rock',
 5: 'plays',
 6: 'plays',
 7: 'documentary',
 8: 'plays',
 9: 'plays',
 10: 'electric music',
 11: 'drama',
 12: 'plays',
 13: 'drama',
 14: 'indie rock',
 15: 'indie rock',
 16: 'wearables',
 17: 'nonfiction',
 18: 'animation',
 19: 'plays',
 20: 'plays',
 21: 'drama',
 22: 'plays',
 23: 'plays',
 24: 'documentary'}

In [41]:
# Use a list comprehension to add "cat" to each category_id.
cat_ids = [f"cat{category_id}" for category_id in category_ids]
print(cat_ids)

# Use a list comprehension to add "cat" to each subcategory_id.
scat_ids = [f"cat{subcategory_id}" for subcategory_id in subcategory_ids]
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15', 'cat16', 'cat17', 'cat18', 'cat19', 'cat20', 'cat21', 'cat22', 'cat23', 'cat24']

In [ ]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.


# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name.

In [ ]:
# View the category_df
category_df

In [ ]:
# View the subcategory_df
subcategory_df

In [ ]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
* The "cf_id" column
* The "contact_id" column
* The "company_name" column
* The "blurb" column, renamed to "description"
* The "goal" column, converted to the `float` data type
* The "pledged" column, converted to the `float` data type
* The "outcome" column
* The "backers_count" column
* The "country" column
* The "currency" column
* The "launched_at" column, renamed to "launch_date" and with the UTC times converted to the `datetime` format
* The "deadline" column, renamed to "end_date" and with the UTC times converted to the `datetime` format
* The "category_id" column, with unique identification numbers matching those in the "category_id" column of the category DataFrame
* The "subcategory_id" column, with the unique identification numbers matching those in the "subcategory_id" column of the subcategory DataFrame
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [ ]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df.
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

In [ ]:
# Rename the blurb, launched_at, and deadline columns.

In [ ]:
# Convert the goal and pledged columns to a `float` data type.

In [ ]:
# Check the datatypes

In [ ]:
# Format the launch_date and end_date columns to datetime format

In [ ]:
# Merge the campaign_df with the category_df on the "category" column and
# the subcategory_df on the "subcategory" column.

campaign_merged_df.tail(10)

In [ ]:
# Drop unwanted columns, including 'staff_pick' and 'spotlight'

In [ ]:
# Export the DataFrame as a CSV file.
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [ ]:
# Read the data into a Pandas DataFrame. Use the `header=3` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [ ]:
import json
dict_values = []

# Iterate through the contact_info_df and convert each row to a dictionary.


    # Append the converted row to a list.


# Print out the list of dictionaries
print(dict_values)

In [ ]:
# Create a contacts_df DataFrame from the list of dictionaries

In [ ]:
# Check the datatypes.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column.


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file.
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type using `pd.to_numeric`.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column.


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file.
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)